*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: auto;
}
.nav_bar{
    width: 100%;
    height: 100px;
    float: left;
    background-color: aqua;
    position: fixed;
}
.logo{
    width: 30%;
    height: 100px;
    background-color: #F3FFFD ;
    /* background-color: white; */
    float: left;
    padding-left: 6%;
    padding-top: 2%;
}
.navigation{
    width: 50%;
    height: 100px;
    background-color: #F3FFFD;
    float: left;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
/* .active{
    color: green;
} */
ul{
    list-style-type: none;
}
li{
    float: left;
    padding: 10px 20px;
    margin-top: 30px;
}
a{
    color: darkcyan;
    text-decoration: none;
}
.order_logo{
    width: 20%;
    height: 100px;
    background-color: #F3FFFD;
    float: left;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.order_button{
    width: 120px;
    height: 30px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 200;
    border-radius: 20px;
    background-color: #DF080F;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;  
}
.order_button a {
    color: white;
}
.banner{
    width: 100%;
    height: 660px;
    background-color: red;
    float: left;
    background-image: url(images/banner.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;  
}
.transparent{
    width: 100%;
    height: 100%;
    background-color: rgba(241, 27, 13, 0.4);
    float: left;
    text-align: center;
    padding: 200px 350px;
}
.headline{
    font-family: 'Lato', sans-serif;
    font-size: 96px;
    color: white;
    font-weight: 900;
}
.mini_headline{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    color: whitesmoke;
    font-weight: 700;
    text-transform: capitalize; 
}










.breakfast_tagline{
    width: 100%;
    height: auto;
    background-color: white;
    float: left;
    text-align: center;
    text-transform: capitalize;
    margin: 50px 0;
}
.large_font{
    font-size: 50px;
    font-family: 'Bree Serif', serif;
    font-weight: 700;
}
.small_font{
    font-size: 30px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: green;
}
i{
    color: brown;
}
.breakfast_menu{
    width: 100%;
    height: auto;
    background-color: white;
    float: left;
}
.breakfast_upper_row{
    width: 100%;
    height: 350px;
    /* background-color: lightcoral; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.breakfast_lower_row{
    width: 100%;
    height: 350px;
    /* background-color: lightgreen; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.food_box{
    width: 26%;
    height: 330px;
    /* border: 1px solid white; */
    float: left;
    transition: transform .3s;
}
.food_box:hover{
    transform: scale(1.1);
}
.breakfast_image_1{
    width: 100%;
    height: 260px;
    /* border: 1px solid black; */
    float: left;
    background-image: url(images/breakfast_1.avif);
    border-radius: 15px;
    background-size: cover;
}
.breakfast_image_2{
    width: 100%;
    height: 260px;
    /* border: 1px solid black; */
    float: left;
    background-image: url(images/breakfast_2.avif);
    border-radius: 15px;
    background-size: cover;
}
.breakfast_image_3{
    width: 100%;
    height: 260px;
    /* border: 1px solid black; */
    float: left;
    background-image: url(images/breakfast_3.webp);
    border-radius: 15px;
    background-size: cover;
}
.breakfast_image_4{
    width: 100%;
    height: 260px;
    /* border: 1px solid black; */
    float: left;
    background-image: url(images/breakfast_4.avif);
    border-radius: 15px;
    background-size: cover;
}
.breakfast_image_5{
    width: 100%;
    height: 260px;
    /* border: 1px solid black; */
    float: left;
    background-image: url(images/breakfast_5.avif);
    border-radius: 15px;
    background-size: cover;
}
.breakfast_image_6{
    width: 100%;
    height: 260px;
    /* border: 1px solid black; */
    float: left;
    background-image: url(images/breakfast_6.avif);
    border-radius: 15px;
    background-size: cover;
}
.discount_label{
    width: 100%;
    height: 22px;
    /* border: 1px solid green; */
    float: left;
    margin-top: 220px;
}
.food_name{
    width: 100%;
    height: 25px;
    /* border: 1px solid blue; */
    float: left;
    margin-top: 10px;
}
.food_value{
    width: 100%;
    height: 20px;
    /* border: 1px solid darkcyan; */
    float: left;
    margin-top: 10px;
}
.discount{
    width: 42%;
    height: 20px;
    /* border: 1px solid darkcyan; */
    background-color: #256FEF;
    border-radius: 2px;
    float: left;
    color: white;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    padding-left: 10px;
    font-weight: 500;
}
.time_box{
    width: 50%;
    height: 20px;
    /* border: 1px solid darkred; */
    float: right;
    margin-right: 10px;
}
.time{
    width: 32%;
    height: 20px;
    /* border: 1px solid black; */
    float: right;
    color: gray;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    padding-left: 4px;
}
.name{
    width: 75%;
    height: 25px;
    /* border: 1px solid darkcyan; */
    border-radius: 2px;
    float: left;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
}
.rating{
    width: 13%;
    height: 23px;
    /* border: 1px solid black; */
    float: right;
    color: white;
    background-color: #24963F;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    padding-left: 2px;
}
.rating i {
    color: white;
    font-size: 10px;
}
.food_type{
    width: 55%;
    height: 20px;
    /* border: 1px solid darkcyan; */
    border-radius: 2px;
    float: left;
    color: gray;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
}
.value{
    width: 45%;
    height: 20px;
    /* border: 1px solid black; */
    float: right;
    color: green;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    border-radius: 5px;
    padding-left: 26px;
}
.value i {
    color: green;
}
.color{
    margin-right: 15px;
    color: red;
}
.color i {
    color: red;
}










.lunch_tagline{
    width: 100%;
    height: auto;
    background-color: white;
    float: left;
    text-align: center;
    text-transform: capitalize;
    margin: 50px 0;
}
.lunch_menu{
    width: 100%;
    height: auto;
    background-color: white;
    float: left;
}
.lunch_upper_row{
    width: 100%;
    height: 350px;
    /* background-color: lightblue; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.lunch_lower_row{
    width: 100%;
    height: 350px;
    /* background-color: lightgrey; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.lunch_image_1{
    width: 100%;
    height: 260px;
    /* border: 1px solid black; */
    float: left;
    background-image: url(images/lunch_1.avif);
    border-radius: 15px;
    background-size: cover;
}
.lunch_image_2{
    width: 100%;
    height: 260px;
    /* border: 1px solid black; */
    float: left;
    background-image: url(images/lunch_2.avif);
    border-radius: 15px;
    background-size: cover;
}
.lunch_image_3{
    width: 100%;
    height: 260px;
    /* border: 1px solid black; */
    float: left;
    background-image: url(images/lunch_3.avif);
    border-radius: 15px;
    background-size: cover;
}
.lunch_image_4{
    width: 100%;
    height: 260px;
    /* border: 1px solid black; */
    float: left;
    background-image: url(images/lunch_4.avif);
    border-radius: 15px;
    background-size: cover;
}
.lunch_image_5{
    width: 100%;
    height: 260px;
    /* border: 1px solid black; */
    float: left;
    background-image: url(images/lunch_5.avif);
    border-radius: 15px;
    background-size: cover;
}
.lunch_image_6{
    width: 100%;
    height: 260px;
    /* border: 1px solid black; */
    float: left;
    background-image: url(images/lunch_6.avif);
    border-radius: 15px;
    background-size: cover;
}










.dinner_tagline{
    width: 100%;
    height: auto;
    background-color: white;
    float: left;
    text-align: center;
    text-transform: capitalize;
    margin: 50px 0;
}
.dinner_menu{
    width: 100%;
    height: auto;
    background-color: white;
    float: left;
}
.dinner_upper_row{
    width: 100%;
    height: 350px;
    /* background-color: lightblue; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.dinner_lower_row{
    width: 100%;
    height: 350px;
    /* background-color: lightgrey; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.dinner_image_1{
    width: 100%;
    height: 260px;
    /* border: 1px solid black; */
    float: left;
    background-image: url(images/dinner_1.avif);
    border-radius: 15px;
    background-size: cover;
}
.dinner_image_2{
    width: 100%;
    height: 260px;
    /* border: 1px solid black; */
    float: left;
    background-image: url(images/dinner_2.avif);
    border-radius: 15px;
    background-size: cover;
}
.dinner_image_3{
    width: 100%;
    height: 260px;
    /* border: 1px solid black; */
    float: left;
    background-image: url(images/dinner_3.avif);
    border-radius: 15px;
    background-size: cover;
}
.dinner_image_4{
    width: 100%;
    height: 260px;
    /* border: 1px solid black; */
    float: left;
    background-image: url(images/dinner_4.avif);
    border-radius: 15px;
    background-size: cover;
}
.dinner_image_5{
    width: 100%;
    height: 260px;
    /* border: 1px solid black; */
    float: left;
    background-image: url(images/dinner_5.jpg);
    border-radius: 15px;
    background-size: cover;
}
.dinner_image_6{
    width: 100%;
    height: 260px;
    /* border: 1px solid black; */
    float: left;
    background-image: url(images/dinner_6.avif);
    border-radius: 15px;
    background-size: cover;
}
.queries{
    width: 100%;
    height: auto;
    float: left;
    color: white;
    background-color: #035946;
    text-align: center;
    font-size: 35px;
    font-family: 'Bree Serif', serif;
    font-weight: 500; 
    text-transform: capitalize;
}
.form_container{
    width: 100%;
    height: 500px;
    border: 10px solid blue;
}






















.footer{
    width: 100%;
    height: 120px;
    float: left; 
    background-color: #D7E9F7;
}
.footer_left_col{
    width: 50%;
    height: 120px;
    float: left; 
    font-size: 20px;
    color: black; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer_right_col{
    width: 50%;
    height: 120px;
    float: left; 
    color: black; 
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    margin-left: 20px;
}
p{
    margin-top: 20px;
}
.contact{
    font-size: 50px;
    font-weight: 700;
    color: black; 
    margin-left: 200px;
    margin-top: 50px;
}
.contact_box{
    width: 100%;
    height: 500px;
    float: left;
    background-color: #D7E9F7;
}
.col_1{
    width: 33.33%;
    height: 500px;
    float: left;
    color: black; 
    background-color: #D7E9F7;
    text-transform: capitalize;
    padding-left: 150px;
    padding-top: 120px;
}
.col_2{
    width: 33.33%;
    height: 500px;
    float: left;
    background-color: #D7E9F7;
}
.col_3{
    width: 33.33%;
    height: 500px;
    float: left;
    background-color: #D7E9F7;
}
p{
    margin-top: 20px;
}









@media screen and (min-width: 1600px) and (max-width: 2200px){
    .logo{
        padding-top: 1%;
    }


}